Value SERV_PEER (server|peer)
Value ADDRESS ((\w|\.)+)
Value PREFER (prefer)
Value KEY_ID (\d+)
Value VRF_NAME (\w+)

Start
  ^ntp $SERV_PEER\s+$ADDRESS\s*(($PREFER|(use-vrf $VRF_NAME)|(key $KEY_ID))\s*)* -> Record
